body {
    background-color: black;
}

html {
    font-family: Helvetica;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    font-size: 16px;
    color: aquamarine;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}